<div th:fragment="header">
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link " href="/ingredient">Ингредиенты</a>
    <a class="flex-sm-fill text-sm-center nav-link " href="/potion">Зелья</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/report">Отчеты</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/sale">Продажи</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/storage">Склад</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/tests">Тестирование</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/logout"><form th:action="@{/logout}" method="post">
      <input class="btn btn-warning btn-block" type="submit" value="Sign Out"/>
    </form></a>
  </nav>
</div>

<div th:fragment="links" th:remove="tag">
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css" media="all" >
  <script th:src="@{/scripts/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>
</div>