<div th:fragment="header">
  <div class="overlay-main"></div>
  <div class="overlay-menu"></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a th:if="${permissionsParts != null && permissionsParts.contains('ingredient')}" th:classappend="${requestURI.contains('/ingredient')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link " href="/ingredient">Ингредиенты</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('potion')}" th:classappend="${requestURI.contains('/potion')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link " href="/potion">Зелья</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('report')}" th:classappend="${requestURI.contains('/report')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/report">Отчеты</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('sale')}" th:classappend="${requestURI.contains('/sale')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/sale">Продажи</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('storage')}" th:classappend="${requestURI.contains('/storage')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/storage">Склад</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('tests')}" th:classappend="${requestURI.contains('/tests')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/tests">Тестирование</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('users')}" th:classappend="${requestURI.contains('/users')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/users">Пользователи</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('stats')}" th:classappend="${requestURI.contains('/stats')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/stats">Статистика</a>
    <a th:if="${permissionsParts != null && permissionsParts.contains('tasks')}" th:classappend="${requestURI.contains('/tasks')} ? 'active':''" class="flex-sm-fill text-sm-center nav-link" href="/tasks">Задачи</a>
    <a class="flex-sm-fill text-sm-center nav-link last" href="/logout"><form th:action="@{/logout}" method="post">
      <input class="btn btn-out btn-block" type="submit" value="Выйти"/>
    </form></a>
  </nav>
</div>

<div th:fragment="links" th:remove="tag">
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/styles/styles.css}" rel="stylesheet" type="text/css" media="all" >
  <script th:src="@{/scripts/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/scripts/main.js}"></script>
</div>