<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
<p>Изменить ингридиент</p>
  <form method="post" class="form-group mt-2 mb-2">
    <input type="text" th:value="${potion.name}" name="name" placeholder="Введите название ингредиента"  class="form-control border mt-2 mb-2 col-md-6">
    <select name="ingredientsIds"  multiple="multiple">
      <option th:each="ingredient : ${ingredients}"
              th:value="${{ingredient.id}}"
              th:text="${ingredient.name}"
              th:selected="${potion.ingredientsIds.indexOf(ingredient.id) != -1}"
      >
      </option>
    </select>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit" class="btn btn-success">Обновить ингредиент</button>
  </form>
</body>
</html>