<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
<script th:if="${errorMessage != null}">
    var errorMessage = '[[${errorMessage}]]';
</script>
<div class="tab-container">
    <table  class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="row">#</th>
            <th>Название</th>
            <th>Ингредиенты</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${potions}">
            <th scope="row" th:text="${el.id}" th:value="${el.id}"></th>
            <td th:text="${el.name}"   th:value="${el.name}" ></td>
            <td th:text="${el.getIngredientsNames()}" th:value="${el.getIngredientsNames()}" ></td>
            <td><a th:href="'/potion/edit/' + ${el.id}" class="btn btn-warning">Редактировать</a></td>
            <td>
                <form th:action="'/potion/delete/' + ${el.id}" class="col" method="post">
                    <button th:if="${!notDeleteableIds.contains(el.id)}" type="submit" class="btn btn-danger">Удалить</button>
                    <button th:if="${notDeleteableIds.contains(el.id)}" class="btn btn-danger btn-disabled">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table >
    <div class="col"><a href="potion/add" class="btn btn-success">Добавить зелье</a></div>
</div>
</body>
</html>