<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
<div class="tab-container">
<h2>Добавить Зелье:</h2>
<form action="/potion/add" method="post" class="form-group mt-2 mb-2">
    <input type="text" name="name" placeholder="Введите название зелья" class="form-control border mt-2 mb-2 col-md-6">
    <select name="ingredientsIds"  class="form-select" multiple="multiple">
        <option th:each="ingredient : ${ingredients}"
                th:value="${{ingredient.id}}"
                th:text="${ingredient.name}">
        </option>
    </select>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit" class="btn btn-success">Добавить зелье</button>
</form>
</div>
</body>
</html>