<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
<p>Изменить отчет:</p>
<form method="post" class="form-group mt-2 mb-2">
    <input  th:value="${report.title}" type="text" name="title" placeholder="Введите заголовок..." class="form-control border mt-2 mb-2 col-md-6">
    <input  th:value="${report.subject}" type="text" name="subject" placeholder="Введите тему..." class="form-control border mt-2 mb-2 col-md-6">
    <textarea th:text="${report.body}" name="body" placeholder="Введите отчет..." class="form-control border mt-2 mb-2 col-md-6"/>
    <button type="submit" class="btn btn-success">Обновить отчет</button>
</form>
</body>
</body>
</html>