<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{header :: links}"></head>
    <header th:insert="~{header :: header}"></header>
    <body class="container mt-5 mb-5">
        <h1>Изменить продажу</h1>
        <form method="post" class="form-group mt-2 mb-2">
            <select name="potionId">
                <option th:each="potion : ${potions}"
                        th:value="${{potion.id}}"
                        th:text="${potion.name}">
                </option>
            </select>
            <input type="number" th:value="${sale.quantity}" name="quantity" placeholder="Введите объём партии (шт)"  class="form-control border mt-2 mb-2 col-md-6">
            <input type="number" th:value="${sale.price}" name="price" placeholder="Введите цену продаваемого зелья"  class="form-control border mt-2 mb-2 col-md-6">
            <input type="text" th:value="${sale.client}" name="client" placeholder="Введите ID клиента"  class="form-control border mt-2 mb-2 col-md-6">
            <button type="submit" class="btn btn-success">Обновить ингредиент</button>
        </form>
    </body>
</html>