<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{header :: links}"></head>
    <header th:insert="~{header :: header}"></header>
    <body class="container mt-5 mb-5">
    <div class="tab-container">
        <table  class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="row">#</th>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Клиент</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${sales}">
                <th scope="row" th:text="${el.id}" th:value="${el.id}"></th>
                <td th:text="${el.potion.name}"   th:value="${el.potion.name}" ></td>
                <td th:text="${el.quantity}"   th:value="${el.quantity}" ></td>
                <td th:text="${el.price}"   th:value="${el.price}" ></td>
                <td th:text="${el.client}"   th:value="${el.client}" ></td>
                <td>
                    <a th:href="'/sale/edit/' + ${el.id}" class="btn btn-warning">Редактировать</a>
                </td>
                <td>
                    <form th:action="'/sale/delete/' + ${el.id}" class="col" method="post">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col"><a href="sale/add" class="btn btn-success">Добавить продажу</a></div>
    </div>
    </body>
</html>