<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{header :: links}"></head>
    <header th:insert="~{header :: header}"></header>
    <body class="container mt-5 mb-5">
        <h1>Продажи:</h1>
        <div>
            <div th:each="sale : ${sales}" class="row align-items-start border border-success mt-2 mb-2">
                <div th:text="${sale.id}" class="col border "/>
                <div th:text="${sale.potion.name}"  class="col border "/>
                <div th:text="${sale.quantity}"  class="col border "/>
                <div th:text="${sale.price}"  class="col border "/>
                <div th:text="${sale.client}"  class="col border "/>
                <div class="col"><a th:href="'/sale/edit/' + ${sale.id}" class="btn btn-warning">Редактировать</a></div>
                <form th:action="'/sale/delete/' + ${sale.id}" class="col" method="post">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
            <div class="col"><a href="sale/add" class="btn btn-success">Добавить продажу</a></div>
        </div>
    </body>
</html>