<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{header :: links}"></head>
    <header th:insert="~{header :: header}"></header>
    <body class="container mt-5 mb-5">
    <div class="tab-container">
        <h2>Характер роста ИС:</h2>
        <table  class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="row">Название</th>
                <th>Значение</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${stats}">
                <th scope="row" th:text="${el.Name}" th:value="${el.Name}"></th>
                <td th:text="${el.Value}"   th:value="${el.Value}" ></td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>