<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head th:insert="~{header :: links}"></head>
    <header th:insert="~{header :: header}"></header>
    <body class="container mt-5 mb-5">
        <h1>Характер роста ИС:</h1>
        <div>
            <div th:each="stat : ${stats}" class="row align-items-start border border-success mt-2 mb-2">
                <div th:text="${stat.Name}" class="col border "></div>
                <div th:text="${stat.Value}"  class="col border "></div>
            </div>
        </div>
    </body>
</html>