<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
<p>Хранилище:</p>
<div>
    <div th:each="el : ${cells}" class="row align-items-start border border-success mt-2 mb-2">
        <div th:text="${el.id}" class="col border "/>
        <div th:text="${el.entity}"  class="col border "/>
        <div class="col"><a th:href="'/storage/edit/' + ${el.id}" class="btn btn-warning">Редактировать</a></div>
        <form th:action="'/storage/delete/' + ${el.id}" class="col" method="post">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
    <div class="col"><a href="storage/add" class="btn btn-success">Добавить ячейчку</a></div>
</div>
</body>
</html>