<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
    <div class="tab-container">
        <ul class="nav nav-tabs nav-storage">
            <li class="nav-item">
                <a class="nav-link active" aria-current="storage">Склад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="history">История изменений</a>
            </li>
        </ul>
        <div id="storage" class="tab-storage">
            <table  class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th>Тип</th>
                        <th>Количество</th>
                        <th>Статус тестирования</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="el : ${cells}">
                        <th scope="row" th:text="${el.id}" th:value="${el.id}"></th>
                        <td th:text="${el.entity}"   th:value="${el.entity}" ></td>
                        <td th:text="${el.quantity}"  th:value="${el.quantity}" ></td>
                        <td th:if="${el.entity.name() == 'Potion'}" th:text="${el.testApproved}? 'Пройден' : 'Не пройден'"   th:value="${el.testApproved}" ></td>
                        <td th:if="${el.entity.name() == 'Ingredient'}"></td>
                        <td><a th:href="'/storage/edit/' + ${el.id}" class="btn btn-warning">Редактировать</a></td>
                        <td>
                            <form th:action="'/storage/delete/' + ${el.id}" class="col" method="post">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table >
            <div class="col"><a href="storage/add" class="btn btn-success">Добавить ячейчку</a></div>
        </div>
        <div id="history" class="tab-storage" style="display:none;">
            <table  class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="row">#</th>
                    <th>Номер ячейки склада</th>
                    <th>Тип события</th>
                    <th>Количество</th>
                    <th>Дата добавления</th>
                    <th>Дата изменения</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rec : ${records}">
                    <th scope="row" th:text="${rec.id}" th:value="${rec.id}"></th>
                    <td th:text="${rec.storageCellId}" th:value="${rec.storageCellId}" ></td>
                    <td th:switch="${rec.operation.name()}">
                        <span th:case="'CREATE'">Создан</span>
                        <span th:case="'ADD'">Добавлено</span>
                        <span th:case="'SUBTRACTION'">Вычтено</span>
                        <span th:case="'REMOVE'">Удален</span>
                    </td>
                    <td th:text="${rec.operation_value}" th:value="${rec.operation_value}" ></td>
                    <td th:text="${rec.dateAdd}" th:value="${rec.dateAdd}" ></td>
                    <td th:text="${rec.dateUpd}" th:value="${rec.dateUpd}" ></td>
                    <td>
                        <span th:switch="${rec.operation.name()}" th:remove="tag">
                            <div th:case="'ADD'" th:remove="tag">
                                <form th:if="${rec.was_restored == 0}" th:action="'/storage/record/restore/'+${rec.id}" class="col" method="post">
                                    <button type="submit" class="btn btn-danger">Восстановить</button>
                                </form>
                                 <div th:if="${rec.was_restored == 1}" class="alert alert-primary">Восстановлено</div>
                            </div>
                             <div th:case="'SUBTRACTION'" th:remove="tag">
                                <form th:if="${rec.was_restored == 0}" th:action="'/storage/record/restore/'+${rec.id}" class="col" method="post">
                                    <button type="submit" class="btn btn-danger">Восстановить</button>
                                </form>
                                <div th:if="${rec.was_restored == 1}" class="alert alert-primary">Восстановлено</div>
                             </div>
                            <div th:case="'CREATE'" th:remove="tag"></div>
                            <div th:case="'REMOVE'" th:remove="tag"></div>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table >
            <div class="col"><a href="storage/add" class="btn btn-success">Добавить ячейчку</a></div>
        </div>
    </div>
</body>
</html>