<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Задачник</h2>

    <form th:action="@{/tasks/new}" method="post">
        <div class="form-group">
            <label for="description">Описание задачи:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="username">Назначте пользователя:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <button type="submit" class="btn btn-primary">Create Task</button>
    </form>

    <hr>

    <h3>Список задач</h3>
    <ul class="list-group">
        <li th:each="task : ${tasks}" class="list-group-item">
            <span th:text="${task.description}"></span> (User: <span th:text="${task.user.username}"></span>)
            <form th:action="@{'/tasks/' + ${task.id}}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>

        </li>
    </ul>

</div>

</body>
</html>
