<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
    <div>Склад</div>
    <div id="storage" class="tab-storage">
        <table  class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th>Тип</th>
                    <th>Количество</th>
                    <th>Статус тестирования</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="el : ${cells}">
                    <th scope="row" th:text="${el.id}" th:value="${el.id}"></th>
                    <td th:text="${el.entity}"   th:value="${el.entity}" ></td>
                    <td th:text="${el.quantity}"  th:value="${el.quantity}" ></td>
                    <td th:if="${el.entity.name() == 'Potion'}" th:text="${el.testApproved}? 'Пройден' : 'Не пройден'"   th:value="${el.testApproved}" ></td>
                    <td th:if="${el.entity.name() == 'Ingredient'}"></td>
                    <td>
                        <form th:if="${el.entity.name() == 'Potion'}" th:action="'/tests/edit/' + ${el.id}" class="col" method="post">
                            <button type="submit" class="btn btn-warning">Изменить статус</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table >
    </div>
</body>
</html>