<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: links">
</head>
<header th:insert="header :: header"></header>
<body class="container mt-5 mb-5">
<div class="tab-container">
<h2>Изменить данные пользователя</h2>
  <form method="post" class="form-group mt-2 mb-2 col-md-2">
    <label for="user-name">Имя пользователя</label>
    <input type="text" disabled="disabled" id="user-name" name="user-name" th:value="${user.username}" class="form-control border mt-2 mb-2 col-md-6">
    <label for="password">Новый пароль</label>
    <input type="password" name="password" id="password" placeholder="Введите новый пароль" class="form-control border mt-2 mb-2 col-md-6">
    <label for="isActive">Статус -   </label>
    <input type="checkbox" name="isActive" id="isActive" th:checked="${user.isActive}" class="form-check-input col-md-6"/><br><br>
    <label for="roles">Роли пользователя</label><br>
    <select name="roles" id="roles" class="form-select"  multiple="multiple">
      <option th:each="role : ${roles}"
              th:value="${{role.name()}}"
              th:text="${role.name()}"
              th:selected="${user.roles.contains(role) == true }"
      >
      </option>
    </select>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br><br>
    <div  class="btn-group">
      <a class="btn btn-primary btn-element" href="/users">Назад</a>
      <button type="submit" class="btn btn-success btn-element">Обновить данные</button>
    </div>

  </form>
</div>
</body>
</html>