.row.login-container {
    margin: 10% 0 0 0;
}
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#canvas {
  display: none;
}

.camera {
  width: 340px;
  display: inline-block;
}

.output {
  width: 340px;
  display: inline-block;
  vertical-align: top;
}

#startbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 32px;
  background-color: rgb(0 150 0 / 50%);
  border: 1px solid rgb(255 255 255 / 70%);
  box-shadow: 0px 0px 1px 2px rgb(0 0 0 / 20%);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgb(255 255 255 / 100%);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

.btn-element {
    height: 35px;
    margin: 0 10px 0 0;
}

.btn {
    padding: 0.2rem 1em !important;
    font-size: 0.95rem !important;
    border-radius: 25px;
    width: max-content;
}

header {
    margin: 0 0 5% 0;
}

.bg-light {
    border-radius: 25px;
    background: linear-gradient(to bottom right, #0000ff5c, #ffc0cb75);
    border: #151515 1px solid;
}

a.nav-link {
    cursor: pointer;
}

.nav-link:focus, .nav-link:hover, .nav-link.active {
    color: #ca0a0a !important;
}

a.flex-sm-fill.text-sm-center.nav-link {
    text-align: center!important;
    border-right: 1px solid black;
    color: #151515;
}

a.flex-sm-fill.text-sm-center.nav-link {
    text-align: center!important;
    border-right: 1px solid black;
}

a.flex-sm-fill.text-sm-center.nav-link.last{
    border-right: none !important;
}

.alert.alert-primary {
    padding: 0.2rem 0.8rem;
    text-align: center;
    width: max-content;
    margin: 0;
}

.overlay-menu {
    position: absolute;
    top: 0%;
    left: 7%;
    background: url(/images/bottles.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 256px;
    height: 256px;
    z-index: -1;
    filter: blur(5px);
    opacity: 0.3;
}

.overlay-main {
        position: absolute;
        top: 35%;
        right: 11%;
        background: url(/images/potion.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 650px;
        height: 485px;
        z-index: -1;
        filter: blur(5px);
        opacity: 0.5;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(185, 177, 245, 0.1)), to(rgb(238, 0, 218, 0.1)));
}

.table-hover>tbody>tr:hover {
     background: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 0, 218, 0.2)), to(rgb(185, 177, 245, 0.2)));
}

div.tab-container {
    padding: 15px;
    border: 2px solid rgb(185, 177, 245);
    border-radius: 25px;
}

.btn.btn-success {
    background: linear-gradient(to bottom right, #00a926, #8800fff5);
}
.btn.btn-warning {
    background: linear-gradient(to bottom right, #ecff00, #ed77ffa6);
}
.btn.btn-danger {
    background: linear-gradient(to bottom right, #fb2a2a, #7c0303);
}
.btn.btn-out {
    background: linear-gradient(to bottom right, #5600ff, #ed77ffa6);
    color: #fff;
}

.btn.btn-success:hover {
    background: linear-gradient(to bottom right, #8800fff5, #00a926);
}
.btn.btn-warning:hover {
    background: linear-gradient(to bottom right, #ed77ffa6, #ecff00);
}
.btn.btn-danger:hover {
    background: linear-gradient(to bottom right, #7c0303, #fb2a2a);
}
.btn.btn-out:hover {
    background: linear-gradient(to bottom right, #ed77ffa6, #5600ff);
    color: #fff;
}

input.trackLength {
    width: 75px
}

.overlay-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 99vw;
    height: 100%;
    background: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.red-button-overlay {
    position: absolute;
    right: 5%;
    top: 150px;
}

button.red-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.btn.red-button {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 2em 1em !important;
    background: #ff0000;
    border: 2px solid #fd0000;
    border-radius: 100px;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}
button.btn.red-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: 100px;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

button.btn.red-button:hover {
  background: #f01b1b;
  transform: translate(0, 0.25em);
}
button.btn.red-button:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
button.btn.red-button:active {
  background: #ff0707;
  transform: translate(0em, 0.75em);
}
button.btn.red-button:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}